<%= simple_form_for @user do |f| %>
    <%= f.error_notification %>

    <div class="row">

      <div class="form-group col-lg-5">
        <p>
          <%= f.input :nom, label: 'Nom', class: 'form-control' %>
        </p>
      </div>

      <div class="form-group col-lg-5">
        <p>
          <%= f.input :prenom, label: 'Prenom', class: 'form-control' %>
        </p>
      </div>

      <div class="form-group col-lg-5">
        <p>
          <%= f.input :description, label: 'Description', as: :text, class: 'form-control'%>
        </p>
      </div>

      <div class="form-group col-lg-5">
        <p>
          <%= f.input :mail, label: 'Email', class: 'form-control' %>
        </p>
      </div>

    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Enregistrer', class: 'btn btn-primary' %>
    </div>

<% end %>
