<%= simple_form_for @user do |f| %>
    <%= f.error_notification %>

    <div class="row">

      <div class="col-md-4 col-md-offset-4 well">

        <p>
          <%= f.input :nom, class: 'form-control' %>
        </p>
        <p>
          <%= f.input :prenom, class: 'form-control' %>
        </p>
        <p>
          <%= f.input :email, class: 'form-control' %>
        </p>
        <div class="form-actions">
          <%= f.button :submit, 'Enregistrer', class: 'btn btn-primary' %>
          <%= link_to 'Voir le profil', @user, class:'btn btn-default' %>
        </div>

      </div>

    </div>



<% end %>

