<%= flash_messages %>

<div id="list-users">
  <div class="row">
    <div class="col-md-12 title-margin">
      <h1>Liste des utilisateurs</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 ">
      <table class=" table table-striped">
        <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Date d'inscription</th>
          <th>Nombre de livres en cours de réservation</th>
          <th>Compte</th>
        </tr>

        <% @users.each do |user| %>
            <tr>
              <td><%= user.prenom %></td>
              <td><%= user.nom %></td>
              <td><%= user.email %></td>
              <td><%= l user.created_at.to_date, :format => :long %></td>
              <th><%= Reservation.where(:user_id => user.id, :rendu => false).count %></th>
              <th><%= link_to 'Voir le profil', user_path(user), class:'btn btn-default' %></th>
            </tr>
        <% end %>
      </table>
    </div></div>
  <br>
</div>


