<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @user.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @user.prenom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Date inscription:</strong>
  <%= @user.date_inscription %>
</p>

<div class="row">
  <% @reservations.each do |book_reservation| %>
    <% if !book_reservation.rendu %>
          <div class="book-catalogue col-lg-2">
            <%=  link_to raw("<img src='#{book_reservation.book.avatar.url()}' class='img-une'>"), book_reservation.book %>
            <h3><%= book_reservation.book.title %></h3>
          </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>