<%= form_for @book do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Titre' %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label 'Résumé' %>
    <%= f.text_area :text %>
  </div>

  <div class="field">
    <%= f.label 'Auteur' %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label 'Date de publication' %>
    <% if @book.date.present? %>
      <%= f.text_field :date, :class => 'datepicker', :value => I18n.localize(@book.date.to_date, :format => :default) %>
    <% else %>
      <%= f.text_field :date, :class => 'datepicker' %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :stock %>
    <%= f.number_field :stock %>
  </div>

    <div class="field">
      <%= f.label :avatar %>
      <%= f.file_field :avatar%>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: "dd MM yyyy",
            language: "fr"
        });
    });
</script>