<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form class="searchform group">
        <label for="search-box">
          <span class="fa fa-2x fa-search"></span>
        </label>

        <input type="search" id="search-box" placeholder="Rechercher">
      </form>
    </div>
  </div>
</div>


<h1>Catalogue</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Author</th>
      <th>Date</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.text %></td>
        <td><%= book.author %></td>
        <td><%= book.date %></td>
        <td><%= book.stock %></td>
        <td><%= link_to 'Voir', book %></td>
        <td><%= link_to 'Modifier', edit_book_path(book) %></td>
        <td><%= link_to 'Supprimer', book, method: :delete, data: { confirm: 'Etes-vous sur de bien supprimer ce livre?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
