<p id="notice"><%= notice %></p>


<% if @book.avatar.exists? %>
    <div style="text-align: center;">
      <%= image_tag @book.avatar.url(:medium) %>
    </div>
<% end %>

<p>
  <strong>Titre :</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description :</strong>
  <%= @book.text %>
</p>

<p>
  <strong>Auteur :</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Date de publication:</strong>
  <%= @book.date %>
</p>

<p>
  <strong>Nombre de livres en stock:</strong>
  <%= @book.stock %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
