<%= simple_form_for([book, reservation]) do |f| %>
    <%= f.error_notification %>

    <div class="col-md-4">
      <div class="row">
        <div class="form-group col-md-12">
          <% if @reservation.date_fin.present? %>
              <%= f.input :date_fin, class: 'form-control datepicker', :value => I18n.localize(Date.current.to_date, :format => :long) %>
          <% else %>
              <%= f.input :date_fin, :class => 'datepicker' %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="form-actions col-md-12">
          <%= f.button :submit, 'Sauvegarder', class: 'btn btn-primary' %>
          <%= link_to 'Annuler',book_reservation_path(@book, @reservation), class: 'btn btn-default' %>
        </div>
      </div>
    </div>

<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: "dd MM yyyy",
            language: "fr"
        });
    });
</script>








