<%= form_for([book, reservation]) do |f| %>
    <% if reservation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

          <ul>
            <% reservation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <div class="field">
      <%= f.label :date_fin %>
      <% if @reservation.date_fin.present? %>
          <%= f.text_field :date_fin, :class => 'datepicker', :value => I18n.localize(@reservation.date_fin.to_date, :format => :long) %>
      <% else %>
          <%= f.text_field :date_fin, :class => 'datepicker' %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Sauvegarder" %>
    </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: "dd MM yyyy",
            language: "fr"
        });
    });
</script>
