<h1>Modifier réservation pour <%= @book.title  %> de <%= @book.author %></h1>

<img src="<%= @book.avatar.url() %>" class="img-une"> <br><br>

<%= render 'form_edit', reservation: @reservation, book: @book %>

<%= link_to 'Annuler', book_reservation_path(@book, @reservation) %>
