<%= flash_messages %>
<% title "Réservations en cours pour " + @book.title %>
<div id="page-reservation">
  <h1>Reservations en cours de <%= @book.title %></h1>
  <%= link_to 'Retour au livre', book_path(@book), class: 'btn btn-default' %>
  <div class="row">
    <div class="col-lg-12">
      <table class="liste-reservations table table-striped">
        <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Date de fin de réservation</th>
          <th>Date dépassée</th>
          <th>Compte</th>
          <th>Réservation</th>
        </tr>
        <% @reservations.each do |reservation| %>
            <tr>

              <td><%= reservation.user.prenom%></td>
              <td><%= reservation.user.nom%></td>
              <td><%= reservation.user.email %></td>
              <td><%= l reservation.date_fin.to_date, :format => :long%></td>
              <% if Date.current >= reservation.date_fin.to_date %>
                  <th> <p class="alert alert-danger">Oui</p></th>
              <% else %>
                  <th> Non </th>
              <%end%>
              <td><%= link_to 'Voir', user_path(reservation.user), class: 'btn btn-default'%></td>
              <td><%= link_to 'Détail',book_reservation_path(reservation.book,reservation), class: 'btn btn-default'%></td>

        <% end %>
      </table>
    </div>
  </div>
  <% if @reservations.any? %>
    <div class="row">
      <%= will_paginate @reservations, renderer: BootstrapPagination::Rails, :previous_label => 'Page précédente', :next_label => 'Page suivante' %>
    </div>
  <% end %>
</div>

