<%= flash_messages %>

<div id="page-reservation-new">
  <h1>Nouvelle réservation pour <%= @book.title  %> de <%= @book.author %></h1>

  <div class="row form-new-reservation">
    <div class="col-md-2 col-md-offset-4 book-catalogue">
      <img src="<%= @book.avatar.url() %>" class="img-une">
    </div>

    <%= render 'form', reservation: @reservation, book: @book %>

  </div>
</div>
