<%= flash_messages %>

<h1>Nouvelle réservation pour <%= @book.title  %> de <%= @book.author %></h1>

<img src="<%= @book.avatar.url() %>" class="img-une"> <br><br>

<%= render 'form', reservation: @reservation, book: @book %>

<%= link_to 'Retour', @book %>
