<p id="notice"><%= notice %></p>

<p>
  <strong>Livre:</strong>
  <%= @reservation.book_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Date debut:</strong>
  <%= @reservation.date_debut %>
</p>

<p>
  <strong>Date fin:</strong>
  <%= @reservation.date_fin %>
</p>

<%= link_to 'Edit', edit_book_reservation_path(@book, @reservation) %> |
<%= link_to 'Back', book_reservations_path(@book) %>
