<p id="notice"><%= notice %></p>

<h2> Statut de la réservation </h2>
<h3> <%= @book.title %></h3>

  <%=  link_to raw("<img src='#{@book.avatar.url()}' class='img-une'>"), @book %>

<p>
  <strong>Début de la réservation</strong>
  <%= @reservation.date_debut %>
</p>

<p>
  <strong>Réservé jusqu'au</strong>
  <%= @reservation.date_fin %>
</p>

<% if Date.today >= @reservation.date_fin %>
    <h3> Vous devez rendre le livre au plus vite </h3>
<% end %>

<%= link_to 'Modifier ma réservation', edit_book_reservation_path(@book, @reservation) %> |
<%= link_to 'Retour à la fiche du livre', book_path(@book) %>
