<% title "Réservation de " + @book.title %>
<%= flash_messages %>
<div id="page-statut-reservation">
  <div class="row">
    <div class="col-md-12">
      <h1> Statut de la réservation </h1>
    </div>
  </div>


  <div class="row statut-reservation">
    <div class="col-md-2 col-md-offset-3 book-catalogue">
      <%=  link_to raw("<img src='#{@book.avatar.url()}' class='img-une'>"), @book %>
    </div>

    <div class="col-md-4">

      <h1> <%= @book.title %></h1>
      <% if !@reservation.rendu %>
        <p>
          <strong>Début de la réservation :</strong>
          <%= l @reservation.date_debut.to_date, :format => :long %>
        </p>

        <p>
          <strong>Réservé jusqu'au :</strong>
          <%= l @reservation.date_fin.to_date, :format => :long %>
        </p>

        <p><b>Réservé par : </b><%= @reservation.user.prenom %> <%= @reservation.user.nom %></p>
        <p><b>Courriel de contact : </b> <%= @reservation.user.email %></p>

        <% if can? :manage, :all %>
            <p><b>Statut rendu : </b> <% if @reservation.rendu %> Rendu <% else %> Non rendu <% end %></p>
        <% end %>
        <% if Date.today >= @reservation.date_fin %>
            <h3> Livre à rendre au plus vite </h3>
        <% end %>

        <% if @reservation.user == current_user and !@reservation.rendu %>
            <%= link_to 'Rendre le livre', book_reservation_path(@book, @reservation), method: :livre_rendu, class: 'btn btn-default' %>
        <% end %>

          <% if can? :manage, :all %>
              <%= link_to 'Compte de l\'utilisateur', user_path(@reservation.user),class: 'btn btn-default' %>
          <% end %>

        <%= link_to 'Modifier la réservation', edit_book_reservation_path(@book, @reservation), class: 'btn btn-default' %>

      <% else %>
          <p>
            <strong>Début de la réservation :</strong>
            <%= l @reservation.date_debut.to_date, :format => :long %>
          </p>
          <p><b>Réservé par : </b><%= @reservation.user.prenom %> <%= @reservation.user.nom %></p>
          <p><b>Courriel de contact : </b> <%= @reservation.user.email %></p>

          <p>Le livre a bien été rendu le <%= l @reservation.updated_at.to_date, :format => :long %></p>
    <% end %>
      <%= link_to 'Fiche du livre', book_path(@book), class: 'btn btn-default' %>
    </div>

  </div>



</div>
